.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ==================== Custom CSS ==================== */
body {
  font-family: 'Roboto', sans-serif;
  background-color: blue;
}

/* nav bar */
nav {
  font-family: 'Roboto Condensed', sans-serif;

  display: flex;
  column-gap: 20px;
  padding: 14px;
  align-items: center;

  background-color: rgb(0, 77, 52);
  color: white;
}
a.nav-link {
  font-size: 22px;
  color: white;
}
/* nav bar's logo font */
span.navbar-brand {
  font-size: 36px;
}

main {
  font-family: 'Roboto', sans-serif;
  /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
  /* height: 100vh; */

  background-color: rgb(4, 4, 61);
  color: white;
}

section {
  padding: 20px;

  background-color: #002635;
  color: white;
  font-family: 'Roboto', sans-serif;
}


/* Header */
.header-container {
  position: relative;
  text-align: center;
  
  height: 400px;

  color: white;
}
.header-image {
  display: flex;
  width: 100%;
  height: 400px;
  object-fit: cover;
  opacity: 0.35;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.image-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  font-size: 84px;
}

/* Header text's fade-in + move down animation */
.header-anim {
  animation: 1s fadeIn;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}



/* MAIN BODY - for Home & About pages */
.main-sect {
  padding: 40px 40px;
  text-align: left;
}
.main-sect p {
  font-size: 18px;
}

/* Fade-in + slide from left animation */
.main-left-anim {
  animation: 1s ease fadeInSlideFromLeft;
}
@keyframes fadeInSlideFromLeft {
  0% {
    transform: translateX(-30%);
    opacity: 0;
  }
  15% {
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

/* Fade-in + slide from right animation */
.main-right-anim {
  animation: 1s ease fadeInSlideFromRight;
}
@keyframes fadeInSlideFromRight {
  0% {
    transform: translateX(20%);
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}


/* Portfolio & Resume pages */
.portfolio-image {
  width: 380px;
  height: 214px;
}
.port-res {
  padding: 40px 40px;
}
.port-res a {
  text-decoration: none;
  color: lightgreen;
}
.port-res a:hover {
  color: white;
}
.port-res a:active {
  color: green;
}
.port-res h4 {
  margin-top: 10px;
}
.port-res div.row {
  padding-top: 20px;
  padding-bottom: 20px;
}
.port-res div.row div.col {
  padding: 10px 10px;
}

/* Fade-in animation with delay; uesd for portfolio & resume pages */
.fade-in-delayed {
  animation: 1s fadeDelayed;
}
@keyframes fadeDelayed {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


/* FOOTER */
.footer-container {
  display: flex;
  background-color: #002635;
  color: white;

  padding: 10px;

  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.footer-container img {
  margin: 10px;
}
/* inverts footer icons + gives a bit of space between them */
.icon {
  filter: invert(100%);
}
/* icon fades a bit when hovered over */
.icon:hover {
  opacity: 0.75;
}


/* RESPONSIVE CODE */
/* changes font size depending on screen size */
@media screen and (min-width: 800px) and (max-width: 992px) {
  
}

@media screen and (max-width: 768px) {
  .header-container, .header-image {
    height: 300px;
  }
}

@media screen and (max-width: 576px) {
  span.navbar-brand {
    font-size: 26px;
  }
  a.nav-link {
    font-size: 18px;
  }

  .header-container, .header-image {
    height: 200px;
  }
  .image-text {
    font-size: 56px;
  }

  .portfolio-image {
    width: 260px;
    height: 166px;
  }
}